<header [class]="router.url+'classe'">
    <section class="retorno">
        @if (router.url.includes("/principal") || router.url.includes("/livros") || (localizacao == "/perfil")) {

        <app-button mensagem="encerrar sessão" imagem="retornar.png" classe="bicone"
            (submit)="botaoEncerrar()"></app-button>
        }

    </section>
    <section class="usuario">
        @if (localizacao == "/perfil") {
        <app-button mensagem="voltar" imagem="voltar.png" classe="bicone" (submit)="botaoVoltar()"></app-button>

        }
        @if (router.url.includes("/principal") || router.url.includes("/livros")) {
        <app-button mensagem="perfil" imagem="usuario.png" classe="bicone" (submit)="botaoPerfil()"></app-button>

        }
        @else if((localizacao != "/login") && (localizacao != "/recuperar")&& (localizacao != "/perfil"))
        {
        <app-button mensagem="Entrar" imagem="conectar.png" classe="bicone" (submit)="botaoEntrar()"></app-button>
        }

    </section>

</header>